.fixed-width-button-xl {
  width: 8em;
}

.fixed-width-button-lg {
  width: 6em;
}

.fixed-width-button-md {
  width: 4.5em;
}

.fixed-width-button-sm {
  width: 3em;
}

.hide {
  display: none !important;
}